<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

</body>
<div class="custom-container">
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-3"></div>
			<p class="control-label col-sm-2"
				style="color: gray; text-align: left">Biller Name</p>
			<div class="col-sm-4">
				<select class="form-control">
					<option>005832</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3"></div>
			<p class="control-label col-sm-2"
				style="color: gray; text-align: left">Relatioship Number</p>
			<div class="col-sm-4">
				<input type="text" value="Electricity" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3"></div>
			<p class="control-label col-sm-2"
				style="color: gray; text-align: left">Amount</p>
			<div class="col-sm-4">
				<input type="text" value="â‚¹1,000.00" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3"></div>
			<p class="control-label col-sm-2"
				style="color: gray; text-align: left">Pay From</p>
			<div class="col-sm-4">
				<select class="form-control">
					<option>xxxxxxxxxxxx8188</option>
				</select>
				<p>Balance:Â£99,196.18</p>
			</div>
		</div>
		<div class="form-group has-feedback has-feedback-left">
			<div class="col-sm-3"></div>
			<p class="control-label col-sm-2"
				style="color: gray; text-align: left">Bill Date</p>
			<div class="col-sm-4">
				<i class="form-control-feedback glyphicon glyphicon-calendar"></i>
				<div ng-controller="DatepickerDemoCtrl as demo">
					<input type="text" class="form-control"
						ng-click="demo.dateFrom=true" datepicker-popup="{{demo.format}}"
						ng-model="demo.dtFrom" is-open="demo.dateFrom" ng-="true"
						close-text="Close"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3"></div>
			<p class="control-label col-sm-2"
				style="color: gray; text-align: left">Bill Number</p>
			<div class="col-sm-4">
				<input type="text" value="E32232" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3"></div>
			<p class="control-label col-sm-2"
				style="color: gray; text-align: left">Note(optional)</p>
			<div class="col-sm-4">
				<input type="text" ng-model="test" ng-trim="false" maxlength="80"
					class="form-control"/>
				<p>
					<span>{{80 - test.length}} Characters Left</span>
				</p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<button type="button" class="btn custom-button">Cancel</button>
				<button type="button" class="btn custom-button">Add</button>
			</div>
		</div>
	</form>
</div></html>