<div class="container-fluid">

<style >


.arrow{


 color: #101010;

}

</style>
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="id">LOAN DETAILS
				 <a style="color:#101010;"  class="pull-right"  [routerLink]="['/loan-summary']">back &#8592;</a> </div>
				
				</div>
			
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-md-5"></div>
						<label class="control-label col-sm-2" style="text-align: center">ApplicantName :Gnanendra</label>
						<div class="col-md-5"></div>
					</div>
					<div class="form-group">
						<div class="col-md-4"></div>
						<label class="control-label col-sm-4" style="text-align: center">CustomerID :<span>{{selecetd.userReferenceNo}}</span></label>
						<div class="col-md-4"></div>
					</div>
					<div class="form-group">
						<div class="col-md-4"></div>
						<label class="control-label col-sm-4" style="text-align: center">AccountID : <span>{{selecetd.accNumber}}</span></label>
						<div class="col-md-4"></div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="id">Account Details</div>
			</div>
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-4"></div>
						<label class="control-label col-sm-2" style="text-align: left">Opening
							Date</label>
						<div class="col-sm-4">
							<h4>2015-04-03</h4>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4"></div>
						<label class="control-label col-sm-2" style="text-align: left">Maturity
							Date</label>
						<div class="col-sm-4">
							<h4>2015-05-04</h4>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4"></div>
						<label class="control-label col-sm-2" style="text-align: left">Status</label>
						<div class="col-sm-4">
							<h4>Active</h4>

						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4"></div>
						<label class="control-label col-sm-2" style="text-align: left">Interest
							Rate</label>
						<div class="col-sm-4">
							<h4>3.00%</h4>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4"></div>
						<label class="control-label col-sm-2" style="text-align: left">Total
							Amount Disbursed</label>
						<div class="col-sm-4">
							<h4>
								ZMW 452,55.0</h4>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4"></div>
						<label class="control-label col-sm-2" style="text-align: left">Amount
							Re-paid Till Date</label>
						<div class="col-sm-4">
							<h4>ZMW 6500.0</h4>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4"></div>
						<label class="control-label col-sm-2" style="text-align: left">Outstanding
							Amount</label>
						<div class="col-sm-4">
							<h4>{{selecetd.currency +'&nbsp;'+'&nbsp;'+'&nbsp;'}}{{selecetd.outStandingLoanAmount}}
								</h4>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="id">Repayment</div>
			</div>
			<div class="panel-body">
				<label class="control-label" style="text-align: left">Interest
					Frequency</label>
				<div class="sum-amount" style="text-align: left; font-size: large">Monthly</div>
				<br /> <label class="control-label" style="text-align: left">Principal
					Frequency</label>
				<div class="sum-amount" style="text-align: left; font-size: large">Monthly</div>
				<br /> <label class="control-label" style="text-align: left">Repayment
					Mode</label>
				<div class="sum-amount" style="text-align: left; font-size: large">Account</div>
				<br /> <label class="control-label" style="text-align: left">Late
					Payment Penalty</label>
				<div class="sum-amount" style="text-align: left; font-size: large">0.00%</div>
				<br /> <label class="control-label" style="text-align: left">Prepayment
					Penalty</label>
				<div class="sum-amount" style="text-align: left; font-size: large">0.00%</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="id">Installments</div>
			</div>
			<div class="panel-body">
				<label class="control-label" style="text-align: left">Loan
					Tenure</label>
				<div class="sum-amount" style="text-align: left; font-size: large">12</div>
				<br /> <label class="control-label" style="text-align: left">Total
					Installments</label>
				<div class="sum-amount" style="text-align: left; font-size: large">12</div>
				<br /> <label class="control-label" style="text-align: left">Remaining
					Installments</label>
				<div class="sum-amount" style="text-align: left; font-size: large">9</div>
				<br /> <label class="control-label" style="text-align: left">Next
					Installment Date</label>
				<div class="sum-amount" style="text-align: left; font-size: large">03
					Feb 2015</div>
				<br /> <label class="control-label" style="text-align: left">Next
					Installment Amount</label>
				<div class="sum-amount" style="text-align: left; font-size: large">ZMW 452,55.0
					</div>
			</div>
		</div>
	</div>


	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="id">Arrears</div>
			</div>
			<div class="panel-body">
				<label class="control-label" style="text-align: left">Principal
					Arrears</label>
				<div class="sum-amount" style="text-align: left; font-size: large">4500
					</div>
				<br /> <label class="control-label" style="text-align: left">Interest
					Arrears</label>
				<div class="sum-amount" style="text-align: left; font-size: large">2500
					</div>
				<br /> <label class="control-label" style="text-align: left">Late
					Payment Charges</label>
				<div class="sum-amount" style="text-align: left; font-size: large">2000
					</div>
				<br /> <label class="control-label" style="text-align: left">Other
					Fees</label>
				<div class="sum-amount" style="text-align: left; font-size: large">560
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-4"></div>
						<div class="col-sm-6">
							<button type="button" class="btn btn-primary">SCHEDULE</button>
							<button type="button" class="btn btn-primary">DISBURSEMENT
								DETAILS</button>
							<button type="button" class="btn btn-primary">REPAY</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>