<div class="container-fluid">
<div class="col-md-2">
</div>
<div class="col-md-8" style="
    border-style: ridge;">
	<div class="col-md-4">
		<div class="container-fluid1">
			<div class="container-header">
				<div class="id">SUMMARY</div>
			</div>
			<div class="summary-bar">
				<div class="row">
					<div class="col-sm-2 no" style="font-size: x-large;left: 30px;top: 0px;">All</div>
					<div class="col-sm-10 sum-loans">Accounts</div>
				</div>
			</div>
			<div class="summary-graph-container" style="width:250px">
				<canvas id="account-summary-chart"
					style="width: 250px; height: 250px;"></canvas>
			</div>
			<div class="summary-graph-container" style="width:100%;text-align:center">
				<div class="row" style="font-size:large">
					<span class="glyphicon glyphicon-stop" style="color:#ffa86f"></span>
					<span>Term Deposit</span>
					<span style="color: #ffa86f">&nbsp;</span>
				</div>
				<br />
				<div class="row" style="font-size:large">
					<span class="glyphicon glyphicon-stop" style="color:#50de7a"></span>
					<span>Savings &amp; Current Accounts</span>
					<span style="color: #50de7a">&nbsp;</span>
				</div>
				<br />
				<div class="row" style="font-size:large">
					<span class="glyphicon glyphicon-stop" style="color:#ff8090"></span>
					<span>Loan</span>
					<span style="color: #ff8090">&nbsp;</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		 <a href="" class="thumbnail" *ngFor="let sgscut of profile.savingsAndCurrent">
        <div class="inner-triangle">
				<img src="images/savings.png" class="img-circle" style="width: 40px;height: 40px;margin-top: 10px;margin-left: 10px;" />
			</div>
			<div class="name">Savings &amp; Current</div>
			<p>{{sgscut.idaccount}}</p>
			<p>{{sgscut.codacctcurr}}</p>
			<p>{{sgscut.codbranch}}</p>
			<p>{{sgscut.prdname}}</p>
      </a>
      
      
      
   <a href="" class="thumbnail" *ngFor="let loan of profile.loans">
			<div class="inner-triangle">
				<img src="images/loan.png" class="img-circle" style="width: 40px;height: 40px;margin-top: 10px;margin-left: 10px;" />
			</div>
			<div class="name">Loans</div>
			<p>{{loan.idaccount}}</p>
			<p>{{loan.codacctcurr}}</p>
			<p>{{loan.codbranch}}</p>
			<p>{{loan.prdname}}</p>
		</a> 
         <a href="" class="thumbnail" *ngFor="let conttempdep of profile.contractAndTermdeposit">
			<div class="inner-triangle">
				<img src="images/deposit.png" class="img-circle" style="width: 40px;height: 40px;margin-top: 10px;margin-left: 10px;" />
			</div>
			<div class="name">Contract &amp; Term deposit</div>
			<p>{{conttempdep.idaccount}}</p>
			<p>{{conttempdep.codacctcurr}}</p>
			<p>{{conttempdep.codbranch}}</p>
			<p>{{conttempdep.prdname}}</p>
			
		</a>
    </div>
	<div class="col-md-4">
		<div class="container-fluid1">
			<div class="container-header">
				<div class="id">MINI STATEMENT</div>
			</div>
			<div class="form-group">
			
			<select class="form-control" (change)="onChange($event.target.value)">
    			<option *ngFor="let nbraccount of profile.nbrAccounts">{{nbraccount}}</option>
			</select>
			</div>
			<div class="list-group">
				<div class="list-group-item"
					*ngFor="let transactionInfo of transactionInfos.transactionAccountActivityDtos">
					<div class="list item">
						<p style="color: black">{{transactionInfo.transactionDate}}</p>
						<p>{{transactionInfo.transactionDescription}}</p>
						<!-- <div class="mini-amount">
							<p data-ng-class="{green : transactionInfo.transactionType==='C',red: transactionInfo.transactionType==='D'}">
								&nbsp;<span
									data-ng-if="transactionInfo.transactionType==='C'">Cr</span>
								<span data-ng-if="transactionInfo.transactionType==='D'">Dr</span>
							</p>
						</div> -->
					</div>
				</div>
			</div>
			<div class="container-footer">
				<a href="#/statement">More Details<span class="fa fa-arrow-right pull-right"></span></a>
			</div>
		</div>
	</div>
	</div>
	<div class="col-md-2">
	</div>
</div>