.sidenav {
    height: 430px;
    width: 0;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: #111;
    overflow-x: initial;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 30px;
    margin-left: 50px;
}