body {
	background-color: #d2eaf9;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover {
	color: #fff;
	background-color: #428ac9;
	height: 58px;
}

.navbar{
	min-height:60px;
}

@media (min-width: 768px){
.navbar {
    border-radius: 0px;
}
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font: small-caption;
}

@media (max-width: 767px){
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #333;
    background-color: slategray;
}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
    background: #d2eaf9;
}
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
    padding-bottom: 25px;
}

.glyphicon-plus-sign {
	color: black;
	font-size: 20px;
	top: 50%;
}

a {
	color: #ffffff;
}

p {
	margin: 0 0 0px;
	color: #9d9d9d;
}

.name {
	margin: 0 0 0px;
	color: #9d9d9d;
}

.id {
	color: #0a0b0c;
	text-decoration: none;
	font-size: x-large;
}

.amount {
	color: #0a0b0c;
	font-size: xx-large;
	position: absolute;
	bottom: 0px;
	right: 15px;
}

.outstanding {
	color: #9d9d9d;
	font-size: initial;
	position: absolute;
	right: 20px;
	bottom: 40px;
}

.thumbnail {
	padding-left: 20px;
	padding-top: 20px;
	min-height: 200px;
	max-height: 300px;
	border-bottom-color: #428ac9;
	border-bottom-width: thick;
	position: relative;
	border-radius: 0px;
}



.inner-triangle {
	border-right: 60px solid #428ac9;
	border-bottom: 60px solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	right: 0px;
	top: 0px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
	margin-top: -10px;
}

.container-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 0px solid #eee;
	margin-top: 20px;
	margin-left: 20px;
}

.summary-bar {
	width: 100%;
	height: 40px;
	background-color: #428ac9;
	position: absolute;
	left: 0;
	top: 75px;
}

.no {
	color: white;
	font-size: 57px;
	position: absolute;
	left: 10px;
	top: -20px;
}

.sum-loans {
	color: white;
	font-size: x-large;
	left: 80px;
	top: 10px;
}

.sum-amount {
	font-size: x-large;
	text-align: center;
}

.spec {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-radius: 0px;
	padding-left: 20px;
	padding-top: 20px;
	min-height: 120px;
	max-height: 2450px;
	padding-bottom: 0px;
	position: relative;
}

.closed-loan {
	padding-left: 20px;
	padding-top: 20px;
	height: 180px;
	position: relative;
	display: block;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0px;
}

.closed-no {
	color: #0a0b0c;
	font-size: xx-large;
	position: absolute;
	bottom: 60px;
	right: 80px;
}

/*for "loans" written in closed loan section*/
.clo-loans {
	color: #0a0b0c;
	text-decoration: none;
	font-size: large;
	position: absolute;
	bottom: 65px;
	right: 10px;
}

.container-footer {
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 9px;
    padding-bottom: 5px;
    font-size: large;
    height: 30px;
}

a {
	color: #0a0b0c;
	padding-left: 10px;
}

.form-group {
    margin-bottom: 0px;
    margin-top: 10px;
}

.form-control {
	width: 100%;
	border-radius: 2px;
}

.list-group {
    margin-bottom: -11px;
    margin-top: 11px;
    border-radius: 0px;
}

.mini-amount {
	position: absolute;
	color: black;
	font-size: large;
	right: 10px;
}

.list-group-item {
	height: 100px;
    background-color: #428ac9;
}

.list-group-item:nth-child(even){
    background-color: azure;
}

.list-group-item:nth-child(odd){
    background-color: aliceblue;
}

.summary-graph-container {
	padding-left: 0px;
    padding-top: 60px;
    top: 68px;
    height: 100%;
    position: initial;
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0px;
    margin-right: auto;
    margin-left: auto;
}

.panel-default{
	margin-right:20px;
	margin-left:20px;
}

.panel-default>.panel-heading {
    background-color: #428ac9;
}

.panel-primary {
    border-color: #d2eaf9;
}

.label {
	color: black;
	border-radius: 0em;
	border: 1px solid #6b6060;
	font-size: 86%;
}

.vertical-divider {
	border-left: 1px solid gray;
}

.panel-footer {
	background-color: lightsteelblue;
}

.pagination>li>a {
	color: black;
}

.pagination>.active>a{
    z-index: initial;
    background-color: #428ac9;
    border-color: #428ac9;
}

.pagination {
	display: inline-block;
	padding-left: 3px;
	margin: 3px 0px;
	border-radius: 0px;
}

.table>thead>tr>th {
    background-color: lightskyblue;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: azure;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: aliceblue;
}




	.custom-button{
    color: #428ac9;
    background-color: #e7ebed;
    border-color: #ccc;
    margin-bottom:5px;
    width:180px;
    }

    .btn{
    border-radius: 2px;
    }

    button:hover{
    background: #428ac9;
    color: white;
    }

    .btn:focus{
    background: #428ac9;
    color:white;
    }
    
    .btn:active {
    background: #428ac9;
    }


    @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .custom-button{
        width:98%;
        padding-bottom:10px;
        font-size:x-small;
    }
    }
    
    /* for selectable button groups */
    label.btn.custom-button.active {
    background-color: #428ac9;
    color: white;
    z-index: initial;
	}

.circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	font-size: 50px;
	color: #fff;
	text-align: center;
	background: #000;
	position: relative;
}

.profile-info {
	padding-left: 10px;
	padding-top: 15px;
	min-height: 100px;
	max-height: 250px;
	min-width: 300px;
	position: relative;
}

.red {
	color: red;
}

.green {
	color: green;
}

.container-fluid1 {
    height: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 0px;
}







.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing: content-box;
}

.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing: content-box;
}

.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px
		rgba(0, 0, 0, 0.15);
	box-sizing: content-box;
}

.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing: content-box;
}

.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}

.switch-input:checked ~ .switch-label {
	background: #428ac9;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px
		rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}

.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.panel-heading [data-toggle="collapse"]:after
{
	font-family: 'Glyphicons Halflings';
	content: "\e072";
	float: right;
	color: #b0c5d8;
	font-size: 18px;
	line-height: 22px;

	-webkit-transform: rotate(-90deg);
	-moz-transform:    rotate(-90deg);
	-ms-transform:     rotate(-90deg);
	-o-transform:      rotate(-90deg);
	transform:         rotate(-90deg);
}
.panel-heading [data-toggle="collapse"].collapsed:after
{
	-webkit-transform: rotate(90deg);
	-moz-transform:    rotate(90deg);
	-ms-transform:     rotate(90deg);
	-o-transform:      rotate(90deg);
	transform:         rotate(90deg);
}