body {
	background-color: #d2eaf9;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}

#logo{
	height: 40px;
	width: 70px;
	margin-top: -5px;
	margin-left: 10px;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover {
	color: #fff;
	background-color: #428ac9;
	height: 58px;
}

.navbar{
	min-height:60px;
}

@media (min-width: 768px){
.navbar {
    border-radius: 0px;
}
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font: small-caption;
}

@media (max-width: 767px){
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #333;
    background-color: slategray;
}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
    background: #d2eaf9;
}
}

@media (max-width: 1112px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
    padding-bottom: 25px;
}

a {
	color: #ffffff;
}

p {
	margin: 0 0 0px;
	color: #9d9d9d;
}

.id {
    color: #0a0b0c;
    text-decoration: none;
    font-size: x-large;
}

.name{
	color: #0a0b0c;
	text-decoration: none;
	font-size: large;
}

.amount {
	color: #0a0b0c;
	font-size: medium;
	position: absolute;
	bottom: 0px;
	right: 15px;
}

.outstanding {
	color: #9d9d9d;
	font-size: initial;
	position: absolute;
	right: 20px;
	bottom: 25px;
}

.thumbnail {
	padding-left: 20px;
	padding-top: 20px;
	min-height: 185px;
	max-height: 300px;
	border-bottom-color: #428ac9;
	border-bottom-width: thick;
	position: relative;
	border-radius: 0px;
}



.inner-triangle {
	border-right: 60px solid #428ac9;
	border-bottom: 60px solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	right: 0px;
	top: 0px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
	margin-top: -10px;
}

.container-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 0px solid #eee;
	margin-top: 20px;
	margin-left: 20px;
}

.summary-bar {
	width: 100%;
	height: 40px;
	background-color: #428ac9;
	position: absolute;
	left: 0;
	top: 75px;
}

.no {
	color: white;
	font-size: 57px;
	position: absolute;
	left: 10px;
	top: -22px;
}

.sum-loans {
	color: white;
	font-size: x-large;
	left: 80px;
	top: 10px;
	width: 75%;
}

.sum-amount {
	font-size: x-large;
	text-align: center;
}

.info-font{
	font-size:small;
	text-align:left;
}

.spec {
    display: block;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding-top: 20px;
    min-height: 120px;
    max-height: 2450px;
    position: relative;
    padding-left: 20px;
}

.closed-loan {
    padding-top: 20px;
    height: 170px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    background-color: #fff;
}

.closed-no {
    color: #0a0b0c;
    font-size: xx-large;
    position: absolute;
    top: 20px;
}

.closed-desc {
    color: #0a0b0c;
    text-decoration: none;
    font-size: large;
    position: absolute;
    top: 35px;
    left: 40px;
}

#closed{
	padding-left:20px;
}

.container-footer {
    border-top: 1px solid #ddd;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: medium;
    height: 30px;
}

a {
	color: #0a0b0c;
	padding-left: 10px;
}

.form-control {
	width: 100%;
	border-radius: 2px;
}

@media (min-width: 768px){
	.form-horizontal .control-label {
	text-align:left;
	}
}

.list-group {
    margin-bottom: -11px;
    margin-top: 11px;
    border-radius: 0px;
}

.mini-amount {
	position: absolute;
	color: black;
	font-size: small;
	right: 10px;
}

.list-group-item {
	height: 80px;
    background-color: white;
}

.summary-graph-container {
	padding-left: 0px;
    padding-top: 60px;
    top: 68px;
    height: 100%;
    position: initial;
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0px;
    margin-right: auto;
    margin-left: auto;
}

.panel-default{
	margin-right:20px;
	margin-left:20px;
}

.panel-default>.panel-heading {
    background-color: #428ac9;
}

.panel-primary {
    border-color: #d2eaf9;
}

.label {
	color: black;
	border-radius: 0em;
	border: 1px solid #6b6060;
	font-size: 86%;
}

.vertical-divider {
	border-left: 1px solid gray;
}

.panel-footer {
	background-color: dimgrey;
}

.pagination>li>a {
	color: black;
}

.pagination>.active>a{
    z-index: initial;
    background-color: #428ac9;
    border-color: #428ac9;
}

.pagination {
	display: inline-block;
	padding-left: 3px;
	margin: 3px 0px;
	border-radius: 0px;
}

.table>thead>tr>th {
    background-color: white;
}

.table>tbody>tr>td {
	border-bottom: none;
	border-top:none;
}

@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
		border: 1px solid gray;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 35%;
		text-align: right;
		min-height: 30px;
		max-height: 100px;
		overflow-wrap: break-word;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 5px;
		white-space: nowrap;
		text-align: left;
	}
	#statement td:nth-of-type(1):before {
		content: "Date:";
	}
	#statement td:nth-of-type(2):before {
		content: "Description:";
	}
	#statement td:nth-of-type(3):before {
		content: "Reference Number:";
	}
	#statement td:nth-of-type(4):before {
		content: "Amount:";
	}
	#statement td:nth-of-type(5):before {
		content: "Balance:";
	}
}

.btn.custom-button {
    background: #2196f3;
    border: none;
    height: 36px;
    color: white;
    min-width: 64px;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-right: 7px;
}
	
button:hover{
    background: #649ed2;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn:focus{
    color:white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    outline: none 0px;
    outline-color: white;
}
    
.btn:active {
    color:white;
    outline: none 0px;
    outline-color: white;
}

    
  /* for selectable button groups */
label.btn.custom-button.active {
    background-color: #428ac9;
    color: white;
    z-index: initial;
	}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    text-align: center;
    background: #9fc2db;
    margin-left: auto;
    margin-right: auto;
}

.profile-info {
    margin-top: -5px;
    margin-bottom: -10px;
    padding-top: 10px;
    height: 130px;
    min-width: 300px;
    position: relative;
    background: #428ac9;
}

#profile-name {
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: large;
}

.red {
	color: red;
}

.green {
	color: green;
}

.pull-left{
	margin-left:10px;
}

.pull-right{
	margin-right:10px;
}

#footer{
	color: white;
	position: fixed; 
	left: 0px; 
	bottom: 0px; 
	width: 100%; 
	background-color: rgba(47, 47, 47, 0.77);
	height: 51px; 
	padding-top: 13px;
}

.bg-success {
    background-color: #8ebb8e;
    color: white;
}

.bg-danger {
    background-color: #d2a4a3;
    color: white;
}

.bg-warning {
    background-color: #ecca99;
    color: white;
}

.bg-info {
    background-color: #85cade;
    color: white;
}

.bg-inverse{
	background-color:#333;
	color:white;
}

.container-fluid1 {
    height: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 0px;
}

.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing: content-box;
}

.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing: content-box;
}

.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px
		rgba(0, 0, 0, 0.15);
	box-sizing: content-box;
}

.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing: content-box;
}

.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}

.switch-input:checked ~ .switch-label {
	background: #428ac9;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px
		rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}

.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.panel-heading [data-toggle="collapse"]:after
{
	font-family: 'Glyphicons Halflings';
	content: "\e072";
	float: right;
	color: #b0c5d8;
	font-size: 18px;
	line-height: 22px;

	-webkit-transform: rotate(-90deg);
	-moz-transform:    rotate(-90deg);
	-ms-transform:     rotate(-90deg);
	-o-transform:      rotate(-90deg);
	transform:         rotate(-90deg);
}
.panel-heading [data-toggle="collapse"].collapsed:after
{
	-webkit-transform: rotate(90deg);
	-moz-transform:    rotate(90deg);
	-ms-transform:     rotate(90deg);
	-o-transform:      rotate(90deg);
	transform:         rotate(90deg);
}

.error {
    color: #a20b0b;
    font-size: small;
}

#img-success{
	width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen  and (min-width : 780px) {
	#info2{
		height:590px;
	}
	#info3{
		height:590px;
	}
}

.addnew {
	margin: 0 0 10px;
	color: #9d9d9d;
	text-align: center;
	font-size: 20px;
}

.biller {
	padding-left: 20px;
	padding-top: 20px;
	height: 175px;
}

.glyphicon-plus-sign {
	color: #9d9d9d;
	font-size: 20px;
	top: 50%;
}

.btn-group-vertical>.btn.active, .btn-group-vertical>
.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>
.btn:hover, .btn-group>.btn.active, .btn-group>
.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {
    z-index: 0;
}

/* side navbar in profile settings */

.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  border-right: 1px solid #ddd;
  height: 240px;
  background-color: white;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 0px 0 0 0px;
     -moz-border-radius: 0px 0 0 0px;
          border-radius: 0px 0 0 0px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #428ac9 transparent #428ac9 #428ac9;
    background-color: #428ac9;
    color: white;
}

@media only screen  and (max-width : 760px) {
	#sidenav{
		float: none;
   		border-right: 0px;
   		height: 100%;
   		border-bottom: 1px solid #ddd;
	}
}