body {
	background-color: #FAF7F7;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.navbar-brand {
	left: 10px;
	position: initial;
}

.navbar-default {
	background-color: rgba(66, 138, 201, 0.38);
	border-color: rgba(94, 94, 94, 0.44);
	border-left-color: #b4cde5;
	border-right-color: #b4cde5;
}

.navbar-default .navbar-nav>li>a {
	color: #428ac9;
	font-size: large;
	padding-top: 12px;
	padding-left: 20px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover {
	color: #fff;
	background-color: #428ac9;
	height: 48px;
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.navbar-default .navbar-brand {
	padding-left: 15px;
}

.navbar {
	height: 50px;
}

.navbar-nav>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-default .navbar-toggle {
	border-color: #428ac9;
}

.navbar-toggle {
	padding: 8px 5px;
	margin-top: 5px;
}

.navbar {
	z-index: 1000;
}

@media ( min-width : 768px) {
	.navbar {
		border-radius: 0px;
	}
}

/*for dropdown backround in mobile view*/
@media ( max-width : 767px) {
	.navbar-nav .open .dropdown-menu>li>a {
		padding: 5px 15px 5px 25px;
		background-color: aliceblue;
	}
}

.navbar-collapse.in {
	background-color: #b4cde5;
	color: black;
	border: 1px solid #9d9d9d;
}

.glyphicon-plus-sign {
	color: #9d9d9d;
	font-size: 20px;
	top: 50%;
}

a {
	color: #ffffff;
}

p {
	margin: 0 0 0px;
	color: #9d9d9d;
}

.name {
	margin: 0 0 0px;
	color: #9d9d9d;
}

.id {
	color: #0a0b0c;
	text-decoration: none;
	font-size: x-large;
}

.amount {
	color: #0a0b0c;
	font-size: xx-large;
	position: absolute;
	bottom: 0px;
	right: 15px;
}

.outstanding {
	color: #9d9d9d;
	font-size: initial;
	position: absolute;
	right: 20px;
	bottom: 40px;
}

.thumbnail {
	padding-left: 20px;
	padding-top: 20px;
	min-height: 190px;
	max-height: 250px;
	border-bottom-color: #d37da4;
	border-bottom-width: thick;
	position: relative;
	border-radius: 0px;
}

.summary {
	min-height: 570px;
	max-height: 600px;
	position: relative;
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0px;
}

.inner-triangle {
	border-right: 60px solid #d37da4;
	border-bottom: 60px solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	right: 0px;
	top: 0px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
	margin-top: -10px;
}

.page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 0px solid #eee;
	margin-top: 20px;
	margin-left: 20px;
}

.summary-bar {
	width: 100%;
	height: 40px;
	background-color: #d37da4;
	position: absolute;
	left: 0;
	top: 75px;
}

.no {
	color: white;
	font-size: 57px;
	position: absolute;
	left: 10px;
	top: -20px;
}

.sum-loans {
	color: white;
	font-size: x-large;
	left: 80px;
	top: 10px;
}

.sum-amount {
	font-size: x-large;
	text-align: center;
}

.spec {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-radius: 0px;
	padding-left: 20px;
	padding-top: 20px;
	min-height: 120px;
	max-height: 2450px;
	padding-bottom: 0px;
	position: relative;
}

.closed-loan {
	padding-left: 20px;
	padding-top: 20px;
	height: 180px;
	position: relative;
	display: block;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0px;
}

.closed-no {
	color: #0a0b0c;
	font-size: xx-large;
	position: absolute;
	bottom: 60px;
	right: 68px;
}

/*for "loans" written in closed loan section*/
.clo-loans {
	color: #0a0b0c;
	text-decoration: none;
	font-size: large;
	position: absolute;
	bottom: 65px;
	right: 10px;
}

.page-footer {
	border-top: 1px solid #ddd;
	margin-bottom: 10px;
	margin-left: -10px;
	margin-top: 10px;
	padding-top: 9px;
	padding-bottom: 5px;
	font-size: large;
	height: 30px;
}

a {
	color: #0a0b0c;
	padding-left: 10px;
}

.form-group {
	margin-bottom: -5px;
	margin-top: 30px;
}

.form-control {
	width: 98%;
	border-radius: 0px;
}

.mini-state {
	padding-left: 10px;
	padding-top: 20px;
	position: relative;
	display: block;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0px;
}

.list-group {
	margin-bottom: -11px;
	margin-left: -11px;
	margin-top: 11px;
	margin-right: -1px;
	border-radius: 0px;
}

.mini-amount {
	position: absolute;
	color: black;
	font-size: large;
	right: 10px;
}

.list-group-item {
	height: 100px;
}

.account-bubble-container {
	padding-left: 0px;
	padding-top: 0px;
	top: 68px;
	height: 300px;
	position: relative;
	display: block;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 0px solid #ddd;
	border-radius: 0px;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
}

.loan-bubble-container {
	padding-left: 0px;
	padding-top: 0px;
	top: 68px;
	height: 300px;
	position: relative;
	display: block;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 0px solid #ddd;
	border-radius: 0px;
	width: 152px;
	margin-right: auto;
	margin-left: auto;
}

panel-default>.panel-heading {
	color: #333;
	background-color: #ededed;
	border-color: #ddd;
}

.sel-dropdown {
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 20px;
	width: 100%;
}

.sel-group {
	margin-bottom: 3px;
	margin-top: 0px;
}

.acc-nameno {
	margin-left: auto;
	margin-right: auto;
	width: 253px;
	margin-bottom: 21px;
}

.filter-select-box {
	margin-left: auto;
	margin-right: auto;
	width: 180px;
	top: 0px;
	position: relative;
}

.label {
	color: black;
	border-radius: 0em;
	border: 1px solid #6b6060;
	font-size: 86%;
}

.label-default {
	background-color: #ffffff;
}

.row-flex {
	display: flex;
	flex-flow: row wrap;
}

.col-flex-item {
	display: flex;
	flex-flow: row wrap;
}

.vertical-divider {
	border-left: 1px solid gray;
}

.panel-footer {
	background-color: white;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	{
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #9d9d9d;
	border-color: #9d9d9d;
}

.pagination>li>a {
	color: #9d9d9d;
}

.pagination {
	display: inline-block;
	padding-left: 3px;
	margin: 3px 0px;
	border-radius: 0px;
}

@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
		border: 1px solid gray;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 35%;
		text-align: right;
		min-height: 30px;
		max-height: 100px;
		overflow-wrap: break-word;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 5px;
		white-space: nowrap;
		text-align: left;
	}
	td:nth-of-type(1):before {
		content: "Date:";
	}
	td:nth-of-type(2):before {
		content: "Description:";
	}
	td:nth-of-type(3):before {
		content: "Reference Number:";
	}
	td:nth-of-type(4):before {
		content: "Amount:";
	}
	td:nth-of-type(5):before {
		content: "Balance:";
	}
}

.custom-container {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-radius: 0px;
	padding-left: 20px;
	padding-top: 20px;
	height: 100%;
	padding-bottom: 50px;
	position: relative;
}

.circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	font-size: 50px;
	color: #fff;
	text-align: center;
	background: #000;
	position: relative;
}

.profile-info {
	padding-left: 10px;
	padding-top: 15px;
	min-height: 100px;
	max-height: 250px;
	min-width: 300px;
	position: relative;
}

.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing: content-box;
}

.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing: content-box;
}

.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px
		rgba(0, 0, 0, 0.15);
	box-sizing: content-box;
}

.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing: content-box;
}

.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}

.switch-input:checked ~ .switch-label {
	background: #E1B42B;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px
		rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}

.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.panel-default>.panel-heading-custom {
	background-image: none;
	background-color: black;
	color: white;
}