<div class="row">
	<div class="col-sm-6 ">
		<div id="example">
			<div class="demo-section k-content wide">
				<div id="chart"
					style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
			</div>

		</div>
	</div>
	
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-9">

				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse"
									data-ng-click="stopDefaultAction($event)"
									href="#saving-current">Savings And Current</a>
							</h4>
						</div>
						<div id="saving-current" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="col-md-8"
									data-ng-repeat="sgscut in savingsandcurrent">
									<div class="form-group">
										<label>Account Number :</label> <label>{{sgscut.idaccount}}</label>
									</div>
									<div class="form-group">
										<label>Account Description :</label> <label>{{sgscut.prdname}}</label>
									</div>
									<div class="form-group">
										<label>Balance :</label>{{sgscut.numbalance}} <label></label>
									</div>
									<div class="form-group">
										<label>Branch :</label> <label>{{sgscut.codbranch}}</label>
									</div>
									<div class="form-group">
										<label>Account Currency :</label> <label>{{sgscut.codacctcurr}}</label>
									</div>
									<hr style="border: 1px solid #14192f;" />
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse"
									data-ng-click="stopDefaultAction($event)" href="#loan">Loans</a>
							</h4>
						</div>
						<div id="loan" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="col-md-8" data-ng-repeat="loan in loan">
									<div class="form-group">
										<label>Account Number :</label> <label>{{loan.idaccount}}</label>
									</div>
									<div class="form-group">
										<label>Account Description :</label> <label>{{loan.prdname}}</label>
									</div>
									<div class="form-group">
										<label>Balance :</label>{{loan.numbalance}} <label></label>
									</div>
									<div class="form-group">
										<label>Branch :</label> <label>{{loan.codbranch}}</label>
									</div>
									<div class="form-group">
										<label>Account Currency :</label> <label>{{loan.codacctcurr}}</label>
									</div>
									<hr style="border: 1px solid #14192f;" />

								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse"
									data-ng-click="stopDefaultAction($event)"
									href="#contract-and-termdeposit">CONTRACT AND TERMDEPOSIT</a>
							</h4>
						</div>
						<div id="contract-and-termdeposit" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="col-md-8"
									data-ng-repeat="conttempdep in contractandtermdepostit">
									<div class="form-group">
										<label>Account Number :</label> <label>{{conttempdep.idaccount}}</label>
									</div>
									<div class="form-group">
										<label>Account Description :</label> <label>{{conttempdep.prdname}}</label>
									</div>
									<div class="form-group">
										<label>Balance :</label>{{conttempdep.numbalance}} <label></label>
									</div>
									<div class="form-group">
										<label>Branch :</label> <label>{{conttempdep.codbranch}}</label>
									</div>
									<div class="form-group">
										<label>Account Currency :</label> <label>{{conttempdep.codacctcurr}}</label>
									</div>
									<hr style="border: 1px solid #14192f;" />

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>