<html ng-app="accountDetails">
<head>

<link rel="stylesheet" href="css/AccountDetails.css" />

<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript" src="js/AccountDetails.js"></script>
<h1>Account Details</h1>
<link rel="stylesheet" href="css/AccountDetails.css" />
<style>
table, th, td {
	border: 2px solid black;
}
</style>

</head>


<body ng-controller="accountDetailsController">
		<div class="container">
			<div class="panel-heading">
				<label>CustomerId:</label> <input type="text" name="id"
					ng-model="CustomerID" placeholder="Enter CutomerID" maxlength="30"
					required="required" value="" /> <label>Account id:</label> <input
					type="text" ng-model="AccountID" placeholder="Enter AccountID"
					maxlength="30" name="Accountid" required="required" value="" />
			</div>
		</div>
		<div>
			<button ng-click="getAccountDetails()" type="button">Get</button>
		</div>
	<div ng-show="ShowAccountDetails">
		<table align="left" style="border: 1px solid blue; width: 100%;"
			border="0" cellspacing="1" cellpadding="1" class="formtablereadonly">
			<tr>
				<th align="left">Account Details:</th>
				<td><div>CUSTOMERNAME: {{responceObj.customername}}</div>
					<div>NBRACCOUNT: {{responceObj.nbraccount}}</div>
					<div>RELATION: {{responceObj.relation}}</div>
					<div>NBRBRANCH: {{responceObj.nbrbranch}}</div>
					<div>CCYDESC: {{responceObj.ccydesc}}</div>
					<div>OPENINGDATE: {{responceObj.openingdate}}</div>
					<div>ACCTTYPE: {{responceObj.accttype}}</div>
					<div>ACCTSTATUS: {{responceObj.acctstatus}}</div>
					<div>DESCACCTTYPE: {{responceObj.descaccttype}}</div></td>

			</tr>
			<tr>
				<th align="left">Facilities:</th>
				<td><div>ISCHQBOOK: {{responceObj.ischqbook}}</div>
					<div>ISOVERDRAFT: {{responceObj.isoverdraft}}</div></td>
			</tr>
			<tr>
				<th align="left">Balance:</th>
				<td><div>BALANCE: {{responceObj.balance}}</div>
					<div>AMOUNTONHOLD: {{responceObj.amountonhold}}</div>
					<div>DAILYLIMIT: {{responceObj.dailylimit}}</div>
					<div>ODLIMIT: {{responceObj.odlimit}}</div>
					<div>MINBALANCE: {{responceObj.minbalance}}</div>
					<div>OPENINGBALANCE: {{responceObj.openingbalance}}</div>
					<div>AVAILABLEBALANCE: {{responceObj.availablebalance}}</div></td>
			</tr>
			<tr>
				<th align="left">Others:</th>
				<td><div>NUMUNCOLLECTED: {{responceObj.numuncollected}}</div>
					<div>DAILYWITHDRAWALLIMIT:
						{{responceObj.dailywithdrawallimit}}</div>
					<div>CUSTOMERSHORTNAME: {{responceObj.customershortname}}</div>
					<div>ORIGAVAILABLEBAL: {{responceObj.origavailablebal}}</div>
					<div>IDCUSTOMER: {{responceObj.idcustomer}}</div>
					<div>ISSI: {{responceObj.issi}}</div>
					<div>IBAN_AC_NO: {{responceObj.iban_AC_NO}}</div>
					<div>ELIGIBLEADV: {{responceObj.eligibleadv}}</div>
					<div>ODLMTSTRTDATE: {{responceObj.odlmtstrtdate}}</div>
					<div>ODLMTENDDATE: {{responceObj.odlmtenddate}}</div></td>
			</tr>
		</table>
	</div>
</body>
</html>