<div class="row">
	<div class="col-sm-6 ">
		    <div id="piechart_3d" style="width: 500px; height: 500px;"></div>
	</div>

	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-9">

				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse"
									data-ng-click="stopDefaultAction($event)"
									href="#saving-current"><span class="glyphicon glyphicon-usd"></span>Savings And Current:<div style="color:green"><b>{{sumofsavingsandcurrent}}</b></div></a>
							</h4>
						</div>
						<div id="saving-current" class="panel-collapse collapse">
							<div class="panel-body" style="background-color: #7070a2;">
								<div class="col-md-10"
									data-ng-repeat="sgscut in savingsandcurrent">
									<div class="form-group custextcolor">
										<label>Account Number :</label> <label>{{sgscut.idaccount}}</label>
									</div>
									<div class="form-group custextcolor">
										<label>Account Description :</label> <label>{{sgscut.prdname}}</label>
									</div>
									<div class="form-group custextcolor">
										<label>Balance :</label> <label>{{sgscut.numbalance}}</label>
									</div>
									<div class="form-group custextcolor">
										<label>Branch :</label> <label>{{sgscut.codbranch}}</label>
									</div>
									<div class="form-group custextcolor">
										<label>Account Currency :</label> <label>{{sgscut.codacctcurr}}</label>
									</div>
									<hr style="border: 1px solid #14192f;"
										data-ng-if="savingsandcurrent.length>1" />
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse"
									data-ng-click="stopDefaultAction($event)" href="#loan"><span class="glyphicon glyphicon-duplicate"></span>&nbsp;Loans: <div style="color: red"><b>{{sumofloans}}</b></div></a>
							</h4>
						</div>
						<div id="loan" class="panel-collapse collapse">
							<div class="panel-body" style="background-color: #7070a2;">
								<div class="col-md-10" data-ng-repeat="loan in loan">
									<div class="form-group custextcolor">
										<label>Account Number :</label> <label>{{loan.idaccount}}</label>
									</div>
									<div class="form-group custextcolor">
										<label>Account Description :</label> <label>{{loan.prdname}}</label>
									</div>
									<div class="form-group custextcolor">
										<label>Balance :</label> <label>{{loan.numbalance}}</label>
									</div>
									<div class="form-group custextcolor">
										<label>Branch :</label> <label>{{loan.codbranch}}</label>
									</div>
									<div class="form-group custextcolor">
										<label>Account Currency :</label> <label>{{loan.codacctcurr}}</label>
									</div>
									<hr style="border: 1px solid #14192f;"
										data-ng-if="loan.length>1" />

								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse"
									data-ng-click="stopDefaultAction($event)"
									href="#contract-and-termdeposit"><span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;CONTRACT AND TERMDEPOSIT:<div  style="color:green"><b>{{sumofcontractandtermdepostit}}</b></div></a>
							</h4>
						</div>
						<div id="contract-and-termdeposit" class="panel-collapse collapse">
							<div class="panel-body" style="background-color: #7070a2;">
								<div class="col-md-10"
									data-ng-repeat="conttempdep in contractandtermdepostit">
									<div class="form-group custextcolor">
										<label>Account Number :</label> <label>{{conttempdep.idaccount}}</label>
									</div>
									<div class="form-group custextcolor">
										<label>Account Description :</label> <label>{{conttempdep.prdname}}</label>
									</div>
									<div class="form-group custextcolor">
										<label>Balance :</label> <label>{{conttempdep.numbalance}}</label>
									</div>
									<div class="form-group custextcolor">
										<label>Branch :</label> <label>{{conttempdep.codbranch}}</label>
									</div>
									<div class="form-group custextcolor">
										<label>Account Currency :</label> <label>{{conttempdep.codacctcurr}}</label>
									</div>
									<hr style="border: 1px solid #14192f;"
										data-ng-if="contractandtermdepostit.length>1" />

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 well">
      <div class="thumbnail">
        <p><b>Advertise</b></p>
        <p><strong></strong></p>
        <marquee behavior="scroll" direction="left">
<img src="http://www.html.am/images/html-codes/marquees/fish-swimming.gif" alt="Swimming fish"/>
</marquee>
<button class="btn btn-primary">Info</button>
      </div>      
     </div>

			</div>
		</div>

	</div>
</div>
