<div class="wrapper">
	<div class="container-fluid">
		<div class="col-sm-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="id">ACCOUNT DETAILS</div>
				</div>
				<div class="panel-body">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<form name="userForm" novalidate="novalidate" class="form-horizontal">
							<div class="form-group"
								data-ng-class="{ 'has-error' : userForm.nbrAccount.$invalid &amp;&amp; !userForm.nbrAccount.$pristine }">
								<select class="form-control" data-ng-change="onChangeNbrAccountId()"
									data-ng-model="nbrAccount" name="nbrAccount" required="required"
									data-ng-options="nbrAccount.value as nbrAccount.text for nbrAccount in select_prop_nbrAccounts">
									<option value="">Select</option>
								</select> 
								<span data-ng-show="userForm.nbrAccount.$dirty &amp;&amp; userForm.nbrAccount.$invalid"
									class="help-block">Account number is required.</span>
							</div>
						</form>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</div>

		<br /> <br />
		
		<div class="col-sm-6 col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="id">BASIC</div>
				</div>
				<div class="panel-body">
					<p>FullName</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.customerName}}</div>
					<br />
					<p>Account Number</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.nbrAccount}}</div>
					<br />
					<p>Account Relationship</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.relation}}</div>
					<br />
					<p>Account Branch</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.nbrBranch}}</div>
					<br />
					<p>Account Currency</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.ccyDesc}}</div>
					<br />
					<p>Opening Date</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.openingDate}}</div>
					<br />
					<p>Account Type</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.accType}}</div>
					<br />
					<p>Account Status</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.accStatus}}</div>
					<br />
					<p>Product Name</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.descAcctType}}</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="panel panel-primary" style="height:652px">
				<div class="panel-heading">
					<div class="id">BALANCES</div>
				</div>
				<div class="panel-body">
					<p>Current Balance</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.balance | currency :accountdetails.ccyDesc +'&nbsp;'}}</div>
					<br />
					<p>Amount on Hold</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.amountOnHold | currency :accountdetails.ccyDesc +'&nbsp;'}}</div>
					<br />
					<p>Uncleared Funds</p>
					<div class="sum-amount" style="text-align: left; font-size: large"></div>
					<br />
					<p>Minimum Balance Required</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.minBalance | currency :accountdetails.ccyDesc +'&nbsp;'}}</div>
					<br />
					<p>Total Available Balance</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.availableBalance | currency :accountdetails.ccyDesc +'&nbsp;'}}</div>
					<br />
					<p>Allowed OverDraft Limit</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.odLimit }}</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="panel panel-primary" style="height:652px">
				<div class="panel-heading">
					<div class="id">LIMITS &amp; OTHERS</div>
				</div>
				<div class="panel-body">
					<p>OverDraft Allowed</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.isOverDraft}}</div>
					<br />
					<p>Cheque Book</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.isChqBook}}</div>
					<br />
					<p>ATM Daily Withdrawal Limit</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.dailyWithDraWalLimit | currency :accountdetails.ccyDesc +'&nbsp;'}}</div>
					<br />
					<p>Eligible Advance Against Uncleared Funds Limit</p>
					<div class="sum-amount" style="text-align: left; font-size: large">{{accountdetails.eligibleAdv | currency :accountdetails.ccyDesc +'&nbsp;'}}</div>
				</div>
			</div>
		</div>

		<br /> <br />

		<div class="col-sm-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="id">QUICK LINKS</div>
				</div>
				<div class="panel-body">
					<div class="col-sm-3">
						<img src="images/chequestatus.JPG" class="img-responsive"
							style="width: 60px; height: 60px; margin-left: auto; margin-right: auto;" />
						<p style="text-align: center">Check Status Inquiry</p>
						<br />
					</div>
					<div class="col-sm-3">
						<img src="images/chequestop.JPG" class="img-responsive"
							style="width: 60px; height: 60px; margin-left: auto; margin-right: auto;" />
						<p style="text-align: center">Stop/Unblock Cheque</p>
						<br />
					</div>
					<div class="col-sm-3">
						<img src="images/chequerequest.JPG" class="img-responsive"
							style="width: 60px; height: 60px; margin-left: auto; margin-right: auto;" />
						<p style="text-align: center">Check Book Request</p>
						<br />
					</div>
					<div class="col-sm-3">
						<img src="images/statementreq.JPG" class="img-responsive"
							style="width: 60px; height: 60px; margin-left: auto; margin-right: auto;" />
						<p style="text-align: center">Statement Request</p>
						<br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>