<div class="container-fluid">
	<div class="col-sm-6 col-md-3"
		data-ng-repeat="billerInfo in billerInfos.billerDtos">
		<a href="" class="thumbnail">
			<div class="id">{{billerInfo.billerName}}</div>
			<div class="row">
				<div class="col-sm-8" style="margin-top: 11px;">
					<p>{{billerInfo.billerProfile}}</p>
					<p>{{billerInfo.idBiller}}</p>
				</div>
				<div class="col-sm-4">
					<img ng-src="{{billerInfo.billerProfile == 'TELECOM' &amp;&amp; 'images/telecom.png' || 'images/electricity.png'}}"
						class="img-responsive" style="width: 60px; height: 60px;" />
				</div>
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="thumbnail">
			<div class="addnew">
				<br />
				<span class="glyphicon glyphicon-plus-sign"></span>
				<br />
				<a href="">Add New Biller</a>
			</div>
		</div>
	</div>
</div>