<div class="container-fluid">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        	<div class="panel panel-primary">
        		<div class="panel-body">
			        <h2 style="color:#32bea6;">Error</h2>
			        <img id="img-success" src="images/error.svg" class="img-responsive" />
			        <br />
			        <h5>{{sharedValue}} error</h5>
			        <br />
			        <a href="#/transfermoney" class="btn custom-button">TRY AGAIN</a>
			    </div>
			</div>
        </div>
	</div>
</div>