<div class="wrapper">

	<div class="container-fluid">

		<div class="container">
  
  <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
   
 <div class="row">>
   
    <img style="width: 60px;" src="C:\Users\Trainee6\Desktop\a\Koala.jpg" />
 <h1 style="color:white">Primary Information<span class="glyphicon glyphicon-chevron-down"></span></h1>
          
               
    
</div>
     
    </div>


				<p class="text-center">All your details are private and secure</p>


				<div class="panel-body">
					<br/> <br/> <br/>
					<form class="form-horizontal" role="form">

						<div class="form-group">
							<div class="row ">
								<label for="firstname" class="col-sm-4 control-label">First
									Name</label>

								<div class="col-sm-4">
									<input type="text" class="form-control" id="firstname"/>
								</div>
							</div>
						</div>
						<br/>
						<div class="form-group">
							<div class="row ">
								<label for="middlename" class="col-sm-4 control-label">Middle
									Name</label>

								<div class="col-sm-4">
									<input type="text" class="form-control" id="middlename"/>
								</div>
							</div>
						</div>
						<br/>
						<div class="form-group">
							<div class="row ">
								<label for="lastname" class="col-sm-4 control-label">Last
									Name</label>

								<div class="col-sm-4">
									<input type="text" class="form-control" id="lastname"/>
								</div>
							</div>
						</div>
						<br/>




						<div class="form-group">
							<div class="row ">
								<label for="dob" class="col-sm-4 control-label">Date Of
									Birth</label>

								<div class="col-sm-4">
									<div>
										<input id="txtDate" type="text" class="form-control"/>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row ">
								<label for="gender" class="col-sm-4 control-label">Gender</label>


								<div class="dropdown">
									<div class="col-md-4">
										<button class="btn btn-default dropdown-toggle" type="button"
											data-toggle="dropdown">
											--select-- <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">Male</a></li>
											<li><a href="#">Female</a></li>

										</ul>
									</div>
								</div>
							</div>
						</div>

						<br/>

						<div class="form-group">
							<div class="row ">
								<label for="status" class="col-sm-4 control-label">Marital
									status</label>


								<div class="dropdown">
									<div class="col-sm-8">
										<button class="btn btn-default dropdown-toggle" type="button"
											data-toggle="dropdown">
											--select-- <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">Single</a></li>
											<li><a href="#">Married</a></li>

										</ul>
									</div>
								</div>
							</div>
						</div>


						<br/>


						<div class="form-group">
							<div class="row ">
								<label for="lastname" class="col-sm-4 control-label">Number
									of Dependents</label>


								<div class="dropdown">
									<div class="col-sm-8">
										<button class="btn btn-default dropdown-toggle" type="button"
											data-toggle="dropdown">
											--select-- <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">0</a></li>
											<li><a href="#">1</a></li>

										</ul>
									</div>
								</div>
							</div>
						</div>

						<br/>



						<div class="form-group">
							<div class="row ">
								<label for="lastname" class="col-sm-4 control-label">Country
									of Citizenship</label>


								<div class="dropdown">
									<div class="col-sm-6">
										<button class="btn btn-default dropdown-toggle" type="button"
											data-toggle="dropdown">
											--select-- <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">India</a></li>
											<li><a href="#">Australia</a></li>

										</ul>
									</div>
								</div>
							</div>
						</div>
						<br/>
						<div class="form-group">
							<div class="row ">
								<label for="country" class="col-sm-4 control-label">Permanent
									Resident</label>


								<div class="btn-group btn-toggle col-sm-6" >
									<button class="btn btn-default">Yes</button>
									<button class="btn btn-primary active">No</button>
								</div>
							</div>
						</div>
						<br/> <br/> <br/> <br/> <br/> <br/> <br/>

						<button type="button" class="btn btn-default btn-lg"
							style="float: right;">Continue</button>






					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wrapper">

	<div class="container-fluid">

		<div class="container">
  
  <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
   
 <div class="row">>
   
    <img style="width: 60px;" src="C:\Users\Trainee6\Desktop\a\Koala.jpg" />
 <h1 style="color:white">Primary Information<span class="glyphicon glyphicon-chevron-down"></span></h1>
          
               
    
</div>
     
    </div>


				<p class="text-center">All your details are private and secure</p>


				<div class="panel-body">
					<br/> <br/> <br/>
					<form class="form-horizontal" role="form">

						<div class="form-group">
							<div class="row ">
								<label for="firstname" class="col-sm-4 control-label">First
									Name</label>

								<div class="col-sm-4">
									<input type="text" class="form-control" id="firstname"/>
								</div>
							</div>
						</div>
						<br/>
						<div class="form-group">
							<div class="row ">
								<label for="middlename" class="col-sm-4 control-label">Middle
									Name</label>

								<div class="col-sm-4">
									<input type="text" class="form-control" id="middlename"/>
								</div>
							</div>
						</div>
						<br/>
						<div class="form-group">
							<div class="row ">
								<label for="lastname" class="col-sm-4 control-label">Last
									Name</label>

								<div class="col-sm-4">
									<input type="text" class="form-control" id="lastname"/>
								</div>
							</div>
						</div>
						<br/>




						<div class="form-group">
							<div class="row ">
								<label for="dob" class="col-sm-4 control-label">Date Of
									Birth</label>

								<div class="col-sm-4">
									<div>
										<input id="txtDate" type="text" class="form-control"/>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row ">
								<label for="gender" class="col-sm-4 control-label">Gender</label>


								<div class="dropdown">
									<div class="col-md-4">
										<button class="btn btn-default dropdown-toggle" type="button"
											data-toggle="dropdown">
											--select-- <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">Male</a></li>
											<li><a href="#">Female</a></li>

										</ul>
									</div>
								</div>
							</div>
						</div>

						<br/>

						<div class="form-group">
							<div class="row ">
								<label for="status" class="col-sm-4 control-label">Marital
									status</label>


								<div class="dropdown">
									<div class="col-sm-8">
										<button class="btn btn-default dropdown-toggle" type="button"
											data-toggle="dropdown">
											--select-- <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">Single</a></li>
											<li><a href="#">Married</a></li>

										</ul>
									</div>
								</div>
							</div>
						</div>


						<br/>


						<div class="form-group">
							<div class="row ">
								<label for="lastname" class="col-sm-4 control-label">Number
									of Dependents</label>


								<div class="dropdown">
									<div class="col-sm-8">
										<button class="btn btn-default dropdown-toggle" type="button"
											data-toggle="dropdown">
											--select-- <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">0</a></li>
											<li><a href="#">1</a></li>

										</ul>
									</div>
								</div>
							</div>
						</div>

						<br/>



						<div class="form-group">
							<div class="row ">
								<label for="lastname" class="col-sm-4 control-label">Country
									of Citizenship</label>


								<div class="dropdown">
									<div class="col-sm-6">
										<button class="btn btn-default dropdown-toggle" type="button"
											data-toggle="dropdown">
											--select-- <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">India</a></li>
											<li><a href="#">Australia</a></li>

										</ul>
									</div>
								</div>
							</div>
						</div>
						<br/>
						<div class="form-group">
							<div class="row ">
								<label for="country" class="col-sm-4 control-label">Permanent
									Resident</label>


								<div class="btn-group btn-toggle col-sm-6" >
									<button class="btn btn-default">Yes</button>
									<button class="btn btn-primary active">No</button>
								</div>
							</div>
						</div>
						<br/> <br/> <br/> <br/> <br/> <br/> <br/>

						<button type="button" class="btn btn-default btn-lg"
							style="float: right;">Continue</button>






					</form>
				</div>
			</div>
		</div>
	</div>
</div>
