<div class="wrapper">

	<div class="container-fluid">
		<div class="col-sm-6 col-md-4">
			<div class="container-fluid1">
					<div class="container-header">
						<div class="id">SUMMARY</div>
					</div>
					<div class="summary-bar">
						<div class="row">
							<div class="col-sm-2 no">{{loanInfo.activedBasicLoanDetailsDto.length}}</div>
							<div class="col-sm-10 sum-loans">Loans</div>
						</div>
					</div>
					<div class="summary-graph-container" style="width:152px">
						<p style="text-align: center">Total Borrowing</p>
						<div class="sum-amount" style="color: #d37da4">{{loanInfo.totalBorrowing | currency :loanInfo.currencyType +'&nbsp;'}}</div>

						<div id="loan" height="100px"></div>

						<p style="text-align: center">Current Outstanding</p>
						<div class="sum-amount" style="color: #83325b">{{loanInfo.currentOutStanding | currency :loanInfo.currencyType +'&nbsp;'}}</div>
					</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-4">

			<a href="" class="thumbnail"
				data-ng-repeat="loan in loanInfo.activedBasicLoanDetailsDto">
				<div class="inner-triangle"></div>
				<div class="id">{{loan.productDescription}}</div>
				<p>{{loan.userReferenceNo}}</p>
				<p>{{loan.currency}}</p>

				<div class="outstanding">Outstanding Amount</div>
				<div class="amount">{{loan.outStandingLoanAmount | currency :loan.currency +'&nbsp;'}}</div>
			</a> <a href="" class="spec"> <br />
				<div class="id">NEW LOAN</div>
				<div class="row">
					<div class="col-sm-5">
						<br /> <br />
						<p>Select products to fulfil your financial needs</p>
					</div>
					<div class="col-sm-2"></div>
					<div class="col-sm-5">
						<img src="images/new-loan.JPG" class="img-responsive"
							style="width: 135px; height: 80px;" />
					</div>
				</div>
			</a>


			<div class="container-fluid">
				<div class="closed-loan">
					<div class="id">CLOSED LOANS</div>
					<div class="row">
						&nbsp;&nbsp;&nbsp;<img src="images/closed-loan.JPG" class="img-responsive"
										style="width: 60px; height: 60px;" />
						<div class="closed-no">{{loanInfo.closedBasicLoanDetailsDto.length}}</div>
						<div class="clo-loans" style="right:30px">Loans</div>
					</div>
					<div class="container-footer">
						<a href="">VIEW ALL<img src="images/forward.png"
							class="img-responsive"
							style="width: 30px; height: 30px; position: absolute; right: 10px; bottom: 7px;" /></a>
					</div>
				</div>
			</div>





		</div>
		<div class="col-sm-6 col-md-4">
			<div class="container-fluid1">
					<div class="container-header">
						<div class="id">MINI STATEMENT</div>
					</div>
					<div class="form-group">
						<select class="form-control" data-ng-change="onAccountChange()"
							data-ng-model="nbrAccount" name="nbrAccount"
							data-ng-options="nbrAccount.value as nbrAccount.text for nbrAccount in select_prop_nbrAccounts">

						</select>
					</div>
					<div class="list-group">
						<a href="" class="list-group-item"
							data-ng-repeat="transactionInfo in transactionInfos.transactionAccountActivityDtos">
							<div class="list item">
								<p style="color: black">{{transactionInfo.transactionDate}}</p>
								<p>{{transactionInfo.transactionDescription}}</p>
								<br />
								<div class="mini-amount">
									<p style="font-size: large; text-align: right"
										data-ng-class="{green : transactionInfo.transactionType==='C',red: transactionInfo.transactionType==='D'}">
										{{transactionInfo.transactionAmount | currency :transactionInfo.ccyDesc +'&nbsp;'}}&nbsp;<span
											data-ng-if="transactionInfo.transactionType==='C'">Cr</span>
										<span data-ng-if="transactionInfo.transactionType==='D'">Dr</span>
									</p>
								</div>
							</div>
						</a>
					</div>
					<div class="container-footer">
						<a href="#/statement">MORE DETAILS<img src="images/forward.png"
							class="img-responsive"
							style="width: 30px; height: 30px; position: absolute; right: 10px; bottom: 7px;" /></a>
					</div>
			</div>
			<a href="" class="spec"> <br />
				<div class="id">LOAN CALCULATOR</div>
				<div class="row">
					<div class="col-sm-5">
						<br /> <br />
						<p>Check your Eligibilty!</p>
					</div>
					<div class="col-sm-2"></div>
					<div class="col-sm-5">
						<img src="images/loan-calculator.JPG" class="img-responsive"
							style="width: 135px; height: 80px;" />
					</div>
				</div>
			</a>
		</div>
	</div>
</div>