<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>JMR</title>
<meta name="description" content="User login page" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<link rel="stylesheet" href="/css/login.css" />

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="banner">
		<div class="navbar-header">
			<a class="navbar-brand" href="/login"><img
				src="/images/mainheader.png" class="img-responsive" id="logo" /></a>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="col-sm-8"></div>
		<div class="col-sm-4" style="margin-top: 200px;">
			<p style="color:white;font-size:large">You have successfully logged out</p>
			<a href="/login">
				<button type="button" class="btn btn-login">LOGIN&nbsp;&nbsp;<span class="glyphicon glyphicon-log-in"></span></button>
			</a>
		</div>
		<br />
		<footer class="text-center bg-inverse" id="footer">
			<p>Copyright © 2017. JMR Infotech. All rights reserved.</p>
		</footer>
	</div>
</body>
</html>
