 <div class="container-fluid">
   	<div class = "col-sm-6 col-md-4">
      <div class ="container-fluid">
      	<div class="summary">
      		<div class="page-header">
    			<div class="id">SUMMARY</div>     
  			</div>
  			<div class="summary-bar">
                  <div class="row">
                    <div class="col-sm-2 no">4</div>
                    <div class="col-sm-10 sum-loans">Loans</div>
                  </div>
  			</div>
            <div class="bubble-container">
                <p style="text-align: center">Total Borrowing</p>
                <div class="sum-amount" style="color: #d37da4">£256,500.00</div>
                <img src="images/loan-circle-down.JPG" class="img-responsive" style="width:30px;height:30px;margin-left: auto;margin-right: auto;" />
                <div id="test" height="100px"></div>
                <img src="images/loan-circle-up.JPG" class="img-responsive" style="width: 30px;height: 30px;margin-left: auto;margin-right: auto;" />
                <p style="text-align: center">Current Outstanding</p>
                <div class="sum-amount" style="color: #83325b">£227,344.28</div>
            </div>
      	</div> 
      </div>
   	</div>
   	<div class = "col-sm-6 col-md-4">
      <a href = "#" class = "thumbnail">
      	 <div class="inner-triangle"></div>
         <div class="name">KATHY STEPHENS</div>
		 <div class="id">Vehicle/Personal Loans</div>
         <p>xxxxxxxxxxxxA0S2</p>
         <p>@ 8.00%</p>
         
         <div class="outstanding">Outstanding Amount</div>
         <div class="amount">£90,539.51</div> 
      </a>
      <a href = "#" class = "thumbnail">
		 <div class="inner-triangle"></div>
         <div class="name">KATHY STEPHENS</div>
		 <div class="id">Vehicle/Personal Loans</div>
         <p>xxxxxxxxxxxxA0RX</p>
         <p>@ 7.50%</p>
         
         <div class="outstanding">Outstanding Amount</div>
         <div class="amount">£80,480.11</div> 
      </a>
      <a href = "#" class = "thumbnail">
		 <div class="inner-triangle"></div>
         <div class="name">KATHY STEPHENS</div>
		 <div class="id">Vehicle/Personal Loans</div>
         <p>xxxxxxxxxxxx7014</p>
         <p>@ 3.00%</p>
         
         <div class="outstanding">Outstanding Amount</div>
         <div class="amount">£1,170.30</div> 
      </a>
      <a href = "#" class = "spec">
        <br/>
	    <div class="id">NEW LOAN</div>
        <div class="row">
            <div class="col-sm-5">
                <br/><br/>
                <p>Select products to fulfil your financial needs</p>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <img src="images/new-loan.JPG" class="img-responsive" style="width:135px;height:80px;" />
            </div>
        </div>
      </a>
      <div class ="container-fluid">
  		<div class="closed-loan">
            <div class="id">CLOSED LOANS</div>
            <div class="row">
                <br/>    
                <img src="closedloan.JPG" class="img-responsive" style="width:60px;height:60px;" />
                <div class="closed-no">3</div> 
                <div class="clo-loans">Loans</div>
            </div>
            <div class="page-footer">
                <a href="#">VIEW ALL<img src="forward.png" class="img-responsive" style="width: 30px;height: 30px;position: absolute;right: 10px;bottom: 7px;"/></a>
            </div>
  		</div> 
      </div>
   	</div>
   	<div class = "col-sm-6 col-md-4">
      <div class ="container-fluid">
  		<div class="mini-state">
            <div class="id">MINI STATEMENT</div>
            <div class="form-group">
                <select class="form-control">
                    <option>xxxxxxxxxxxxA0S2</option>
                    <option>xxxxxxxxxxxxA0RX</option>
                    <option>xxxxxxxxxxxx7014</option>
                </select>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item">
                   <div class="list item">
                       <p style="color: black">03 Jan 2015</p>
                       <p>PRINCIPAL Liquidation</p>
                       <br/>
                       <div class="mini-amount">£11.55 Cr</div>
                   </div>
                </a>
                <a href="#" class="list-group-item">
                    <div class="list item">
                       <p style="color: black">03 Jan 2015</p>
                       <p>PRINCIPAL Liquidation</p>
                       <br/>
                       <div class="mini-amount">£11.55 Cr</div>
                   </div>
                </a>
                <a href="#" class="list-group-item">
                    <div class="list item">
                       <p style="color: black">03 Jan 2015</p>
                       <p>PRINCIPAL Liquidation</p>
                       <br/>
                       <div class="mini-amount">£11.55 Cr</div>
                   </div>
                </a>
                <a href="#" class="list-group-item">
                    <div class="list item">
                       <p style="color: black">03 Jan 2015</p>
                       <p>PRINCIPAL Liquidation</p>
                       <br/>
                       <div class="mini-amount">£11.55 Cr</div>
                   </div>
                </a>
            </div>
            <div class="page-footer">
                <a href="#">MORE DETAILS<img src="images/forward.png" class="img-responsive" style="width: 30px;height: 30px;position: absolute;right: 10px;bottom: 7px;"/></a>
            </div>
  		</div> 
      </div>
      <a href = "#" class = "spec">
        <br/>
	    <div class="id">LOAN CALCULATOR</div>
        <div class="row">
            <div class="col-sm-5">
                <br/><br/>
                <p>Check your Eligibilty!</p>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <img src="loancalc.JPG" class="img-responsive" style="width:135px;height:80px;" />
            </div>
        </div>
      </a>
   	</div>
  </div>