<div class="wrapper" ng-controller="paybillController">
<div class="container-fluid">
<div class="col-sm-12">
	<div class="panel panel-primary" style="background:url('images/payment.jpg');background-position: center;background-size: cover;">
		<div class="panel-heading">
			<div class="id">PAY BILLS</div>
		</div>
		<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-1"></div>
				<label class="control-label col-sm-2"
					style="color: black; text-align: left">Biller Name</label>
				<div class="col-sm-4">
					<select class="form-control">
						<option>005832</option>
						<option>007485</option>
						<option>012048</option>
						<option>002159</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-1"></div>
				<label class="control-label col-sm-2"
					style="color: black; text-align: left">Relationship Number</label>
				<div class="col-sm-4">
					<input type="text" class="form-control"
						required="required" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-1"></div>
				<label class="control-label col-sm-2"
					style="color: black; text-align: left">Amount</label>
				<div class="col-sm-4">
					<input type="text" class="form-control"
						required="required" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-1"></div>
				<label class="control-label col-sm-2"
					style="color: black; text-align: left">Pay From</label>
				<div class="col-sm-4">
					<select class="form-control">
						<option>xxxxxxxxxxxx8188</option>
						<option>xxxxxxxxxxxx4063</option>
						<option>xxxxxxxxxxxx6262</option>
						<option>xxxxxxxxxxxx1058</option>
						<option>xxxxxxxxxxxx9746</option>
					</select>
					<label>Balance:&#8356;99,196.18</label>
				</div>
			</div>
			<div class="form-group has-feedback has-feedback-left">
				<div class="col-sm-1"></div>
				<label class="control-label col-sm-2"
					style="color: black; text-align: left">Bill Date</label>
				<div class="col-sm-4">
					<i class="form-control-feedback glyphicon glyphicon-calendar"></i>
					<div>
						<input type="text" class="form-control"
							ng-click="demo.dateFrom=true" datepicker-popup="{{demo.format}}"
							ng-model="demo.dtFrom" is-open="demo.dateFrom" ng-required="true"
							close-text="Close" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-1"></div>
				<label class="control-label col-sm-2"
					style="color: black; text-align: left">Bill Number</label>
				<div class="col-sm-4">
					<input type="text" class="form-control"
						required="required" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-1"></div>
				<label class="control-label col-sm-2"
					style="color: black; text-align: left">Note(optional)</label>
				<div class="col-sm-4">
					<input type="text" ng-model="test" ng-trim="false" maxlength="80"
						class="form-control" />
					<label>
						<span>{{80 - test.length}} Characters Left</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2"></div>
				<div class="col-sm-4">
					<button type="button" class="btn custom-button">Cancel</button>
         			<button type="button" class="btn custom-button">Add</button>
				</div>
			</div>
		</form>
		</div>
	</div>
</div>
</div>
</div>