<!DOCTYPE html>
<html lang="en" data-ng-app="profileApp" data-ng-right-click="ngRightClick">
<head>
<title>JMR</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Profile</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.material.mobile.min.css" />
<script src="https://kendo.cdn.telerik.com/2017.1.118/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>

<script src="https://rawgit.com/mbaez/bubbles-chart/master/dist/js/bubbles-chart.full.js"></script>
<script src="https://rawgit.com/mbaez/bubbles-chart/master/test/js/data.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script>

<script src="https://rawgit.com/mbaez/bubbles-chart/master/dist/js/bubbles-chart.full.js"></script>
<script src="https://rawgit.com/mbaez/bubbles-chart/master/test/js/data.js"></script>

<link rel="stylesheet" href="css/newstyle.css" />

<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

<link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
<script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>

<link rel="stylesheet" href="css/toastr.css" />
</head>
<body>
	<span data-us-spinner="{radius:30, width:8, length: 16}"></span>
	<nav class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/account-summary"><img id="logo"
					src="images/mainheader.png" alt="logo" class="img-responsive" /></a>
			</div>
			<div class="collapse navbar-collapse navbar-right" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="" class="dropdown-toggle"
						data-toggle="dropdown">Account <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#/account">Account Info</a></li>
							<li><a href="#/account-summary">Account Summary</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="" class="dropdown-toggle"
						data-toggle="dropdown">Loan <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#/loan">Loan Info</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="" class="dropdown-toggle"
						data-toggle="dropdown">Statement <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#/statement">Statement Info</a></li>
						</ul>
					</li>
				</ul>

				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="" class="dropdown-toggle"
						data-toggle="dropdown">Term Deposits <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#/termdeposit">Term Deposits</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="" class="dropdown-toggle"
						data-toggle="dropdown">Bill Payments <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#/biller">Register Biller</a></li>
							<li><a href="#/paybills">Pay Bills</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="" class="dropdown-toggle"
						data-toggle="dropdown">Payments <b class="caret"></b></a>
						<ul class="dropdown-menu">
						 <li><a href="#/transfermoney">Transfer Money</a></li>
						</ul>
					</li>
				</ul>

				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="" class="dropdown-toggle"
						data-toggle="dropdown">New account opening <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#/new-loan-account-opening">Loan</a></li>
						
						</ul>
					</li>
				</ul>
				
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href=""
						data-ng-click="stopDefaultAction($event)" class="dropdown-toggle"
						data-toggle="dropdown"><span class="fa fa-user-circle-o"></span>
							My Account</a>
						<ul class="dropdown-menu">
							<li>
								<div class="profile-info">
									<div class="circle">R</div>
									<br />
									<p id="profile-name">RISHAD</p>
								</div>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="#/edit-profile" class="btn btn-info btn-sm pull-left" role="button">Profile</a>
								<form class="pull-right" th:action="@{/logout}" method="post">
									<input type="submit" class="btn btn-info btn-sm" value="Sign Out" />
								</form>
							</li>
						</ul>
					</li>
				</ul>
			</div>
	</nav>
	<div class="container-fluid">
		<div data-ng-view="ng-view"></div>
	</div>
	<br />
	<footer class="text-center bg-inverse" id="footer">
		Copyright © 2017. JMR Infotech. All rights reserved.
	</footer>

</body>
<script type="text/javascript" src="js/profile.js"></script>
<script type="text/javascript" src="js/spin-min.js"></script>
<script type="text/javascript" src="js/angular-spinner-min.js"></script>
<script type="text/javascript" src="js/dirPagination.js"></script>
<script type="text/javascript" src="js/toastr.js"></script>
</html>