<style>
.sort-icon {
	font-size: 9px;
	margin-left: 5px;
}

th {
	cursor: pointer;
}
.red {
    color: red; 
}

.green {
    color: green;
}
</style>
<div class="container">
	<div class="panel panel-default " style="background-color: #F0F8FF;">
		<div class="panel-body">
			<p>
				<b>STATEMENT</b>
			</p>
			<hr />
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<form name="userForm" novalidate="novalidate">
						<div class="form-group"
							data-ng-class="{ 'has-error' : userForm.nbrAccount.$invalid &amp;&amp; !userForm.nbrAccount.$pristine }">
							<select class="form-control" data-ng-change="onAccountChange()"
								data-ng-model="nbrAccount" name="nbrAccount" required="required"
								data-ng-options="nbrAccount.value as nbrAccount.text for nbrAccount in select_prop_nbrAccounts">
							</select> <span
								data-ng-show="userForm.nbrAccount.$dirty &amp;&amp; userForm.nbrAccount.$invalid"
								class="help-block">Account number is required.</span>
						</div>
					</form>
				</div>
				<div class="col-md-3"></div>

			</div>
			<div class="row">
				<div role="main" class="container theme-showcase">
					<br /> <br />
					<div class="col-lg-2"></div>
					<div class="col-lg-8"><div class="bs-component">
								<div class="alert alert-info">
									<form class="form-inline">
										<div class="form-group">
											<label>Filter</label> <input type="text" ng-model="search"
												class="form-control" placeholder="Filter" />
										</div>
									</form>
								</div>

								<table class="table table-striped table-hover">
									<thead>
										<tr>
											<th>Id <span class="glyphicon sort-icon"></span>
											</th>
											<th data-ng-click="sort('transactionDate')">Date <span
												class="glyphicon sort-icon"
												data-ng-show="sortKey=='transactionDate'"
												data-ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
											</th>
											<th data-ng-click="sort('transactionDescription')">Description
												<span class="glyphicon sort-icon"
												data-ng-show="sortKey=='transactionDescription'"
												data-ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
											</th>
											<th data-ng-click="sort('transactionReferenceNo')">Reference
												number <span class="glyphicon sort-icon"
												data-ng-show="sortKey=='transactionReferenceNo'"
												data-ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
											</th>
											<th data-ng-click="sort('transactionAmount')">Amount <span
												class="glyphicon sort-icon"
												data-ng-show="sortKey=='transactionAmount'"
												data-ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
											</th>
											<th data-ng-click="sort('balance')">Balance <span
												class="glyphicon sort-icon" data-ng-show="sortKey=='balance'"
												data-ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr
											data-dir-paginate="transactionInfo in transactionInfos.transactionAccountActivityDtos|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
											<td>{{transactionInfos.transactionAccountActivityDtos.indexOf(transactionInfo)+1}}</td>
											<td>{{transactionInfo.transactionDate}}</td>
											<td>{{transactionInfo.transactionDescription}}</td>
											<td>{{transactionInfo.transactionReferenceNo}}</td>
											<td  data-ng-class="{red : transactionInfo.transactionType==='C',green: transactionInfo.transactionType==='D'}">{{transactionInfo.transactionAmount}}&nbsp;{{transactionInfo.transactionType}}</td>
											<td>{{transactionInfo.balance}}</td>
										</tr>
									</tbody>
								</table>
								<dir-pagination-controls max-size="5" direction-links="true"
									boundary-links="true"> </dir-pagination-controls>
							</div>
						</div></div></div>
					<div class="col-lg-2"></div>






		

		</div>
	</div>
</div>

