<style>

.red {
	color: red;
}

.green {
	color: green;
}
</style>

<div class="wrapper">
	<div class="container-fluid">
		<div class="acc-nameno">
				<div class="form-group">
					<select class="form-control"
						data-ng-change="onAccountChange()" data-ng-model="nbrAccount"
						name="nbrAccount" required="required"
						data-ng-options="nbrAccount.value as nbrAccount.text for nbrAccount in select_prop_nbrAccounts">
					</select>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row row-flex">
					<div class="col-sm-2 col-flex-item">
						<div class="filter-select-box" style="margin-left: 0px">
							<div class="sel-group form-group-sm">
								<select class="sel-dropdown">
									<option>Current Period</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-7 col-flex-item"></div>
					<div class="col-sm-3 col-flex-item">
						<div class="filter-select-box" style="margin-left: 0px">
							<div class="sel-group form-group-sm">
								<select class="sel-dropdown">
									<option>All</option>
								</select>
							</div>
						</div>
						<a href="#"><span class="glyphicon glyphicon-floppy-disk"
							aria-hidden="true"></span> </a><a href="#"><img
							src="images/glyphicon-@file.jpg" style="width: 23px; height: 24px" /> </a><a
							href="#"><img src="images/glyphicon-file.jpg"
							style="width: 20px; height: 25px" /></a>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-sm-2">
						<p style="text-align: left; color: black">Opening Balance:
							$0.00</p>
					</div>
					<div class="col-sm-8"></div>
					<div class="col-sm-2">
						<p style="text-align: right; color: black">Closing Balance:
							$125,000.00</p>
					</div>
				</div>
			</div>
			<table style="width: 100%" class="table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Description</th>
						<th>Reference Number</th>
						<th style="text-align: right">Amount</th>
						<th style="text-align: right">Balance</th>
					</tr>
				</thead>
				<tbody>
					<tr
						data-dir-paginate="transactionInfo in transactionInfos.transactionAccountActivityDtos|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
						<td><p style="font-size: x-large; color: black">{{transactionInfo.transactionDate.split(' ')[0]}}</p>
							<p style="color: black">{{transactionInfo.transactionDate.split(' ')[1]}}&nbsp;{{transactionInfo.transactionDate.split(' ')[2]}}</p></td>

						<td><p style="color: black">{{transactionInfo.transactionDescription}}</p></td>
						<td><p>{{transactionInfo.transactionReferenceNo}}</p></td>
						<td>
						<p style=" font-size: large; text-align: right" data-ng-class="{green : transactionInfo.transactionType==='C',red: transactionInfo.transactionType==='D'}">
						
								{{transactionInfo.transactionAmount | currency :transactionInfo.ccyDesc +'&nbsp;'}}&nbsp;<span data-ng-if="transactionInfo.transactionType==='C'">Cr</span>
       							<span data-ng-if="transactionInfo.transactionType==='D'">Dr</span></p></td>
						<td><p style="text-align: right">{{transactionInfo.balance | currency :transactionInfo.ccyDesc +'&nbsp;'}}</p></td>
					</tr>
				</tbody>
			</table>
			<div class="panel-footer">
				<dir-pagination-controls max-size="5" direction-links="true"
					boundary-links="true"> </dir-pagination-controls>
			</div>
		</div>
	</div>
</div>
