<div class="row">
 <div class="col-sm-4">
  <div class="well well-lg" style="background: white;"><b>Summary</b>
  <hr>
  <b>Term Deposits </b>
  </hr>
 
  
  <div><label>Total Current Balance:</label> <label>{{termDeposite.totalTermDeposits}}</label></div>
  </div>
 <div class="well well-lg" style="background: white;">
   <div class="thumbnail">
     <p>
     <b>New Deposit</b>
    </p>

     <img src="images/New Deposit.PNG"/> 
     
     
</div>
  </div>

  
 </div>
 
 
 <div class="col-sm-4" style="height:580px; overflow: scroll;">
  <div class="well well-lg" style="background: white;" data-ng-repeat="termdepositetemp in termDeposite.tempDepositeSummary">
    <div><label>Description :</label> <label>{{termdepositetemp.acctdesc}}</label></div>
    <div><label>Account Number:</label> <label>{{termdepositetemp.altacctno}}</label></div>
    <div><label>Interest Rate :</label> <label>{{termdepositetemp.rate}}|{{termDeposite.maturitydate}}</label></div>
    <div><label>Current Balance:</label> <label>{{termdepositetemp.numavlbalance}}</label></div>
  
  
  
  
  </div>
  
 </div>
 <div class="col-sm-4">
  <div class="well well-lg" style="background: white;">MiniStatement
   <select><option>Account Number</option></select>
   
   </div>
  <div class="well well-lg" style="background: white;">
   <div class="thumbnail">
     <p>
     <b>Deposit Calculator</b>
    </p>

    <img
     src="https://www.bankbazaar.com/images/india/infographic/how-to-calculate-hdfc-loan-emi.png"
     alt="Swimming fish" />
</div>
  </div>
 </div>
</div>