<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" data-ng-app="demoApp">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">JMR</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">Operation <span class="caret"></span></a>
					<ul class="dropdown-menu" style="width: 400px; height: 500px; overflow: auto">
						<li th:each="value : ${responceObj}"><a href="#"
							th:text="${value}"></a></li>
					</ul></li>
				<li><a href="#">Profile</a></li>
				<li><a href="#">Sign out</a></li>
			</ul>
		</div>
	</nav>
	<div class="container" data-ng-controller="profileController">
		<br />
		<p th:text="'Hi, ' + ${loginInfo.userName}" />
		<input type="hidden" th:value="${loginInfo.userName}"
			data-ng-model="usernaeme" />
	</div>
</body>
<script src="js/profile.js" type="text/javascript"></script>
</html>